# Virtual Environment
.venv/
venv/
ENV/
env/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (API Keys)
.env

# Database
database/*.db
*.sqlite3

# Uploaded Resumes (Temp files, ignore everything except .gitkeep)
uploads/*
!uploads/.gitkeep
resumes/*
!resumes/.gitkeep

# Streamlit config (optional / system files)
.streamlit/config.toml
.streamlit/secrets.toml

# IDE settings
.vscode/
.idea/
.DS_Store
